'LogicalNotions - Jekyllbootstrap':
  'title': 'LogicalNotions - Jekyllbootstrap'
  'paths': [
    '/Users/adamboulware/Sites/logicalnotions'
  ]
'Jekyll Tutorial':
  'title': 'Jekyll Tutorial'
  'paths': [
    '/Users/adamboulware/Sites/superblog'
  ]
'holman-dotfiles':
  'title': 'holman-dotfiles'
  'paths': [
    '/Users/adamboulware/Dropbox/github/holman-dotfiles'
  ]
'osx-setup':
  'title': 'osx-setup'
  'paths': [
    '/Users/adamboulware/Sites/github/adambware/osx-setup'
  ]
'adamboulware - homedir':
  'title': 'adamboulware - homedir'
  'paths': [
    '/Users/adamboulware'
  ]
